.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left p {
  font-size: 15px;
  margin-right: 10px;
}

.footer-left a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.footer-right p {
  color: #333;
}

.footer-buttons{
  display: none;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-buttons {
    display: flex;
  }

  .footer-button {
    margin: 5px;
  }

  .footer-buttonL>.menu{
    padding: 50px;
    display: block;
    flex-direction: row;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    padding-left: 100px;
    gap: 50px;
  }
  
  ul li a {
    text-decoration: none;
  }
  
  ul li a img {
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-buttons {
    display: flex;
  }

  .footer-button {
    margin: 5px;
  }

  .footer-buttonL>.menu{
    padding: 50px;
    display: block;
    flex-direction: row;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 55px;
    gap: 50px;
  }
  
  ul li a {
    text-decoration: none;
  }
  
  ul li a img {
    width: 35px;
  }
}