* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Poppins;
  }
  
  .header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .hero h1 {	
	border-left: 10px solid #1a8596;
	font-size: 32px;
	padding-left: 5px;
	margin-bottom: 35px;
  }
  

  .about h2{
	border-left: 10px solid #1a8596;
	margin-top: 35px;
	margin-bottom: 35px;
	padding-left: 5px;
  }

  .spaces h2{
	border-left: 10px solid #1a8596;
	margin-top: 35px;
	margin-bottom: 35px;
	padding-left: 5px;
  }

  .spaces .gallery{
	margin-bottom: 25px;
  }




/* Estilos da seção "Nossos Serviços" */
.services {
	padding: 80px 0;
	background-color: #f8f8f8;
	
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.services h2 {
	font-size: 36px;
	margin-bottom: 40px;
}

.services ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.services li {
	flex: 1;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services li:last-child {
	margin-right: 0;
}

.services h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.services p {
	font-size: 16px;
	line-height: 1.5;
	color: #777;
	margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}

footer p {
	font-size: 14px;
	text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
	.container {
		padding: 0 10px;
	}

	.navbar ul {
		flex-direction: column;
	}

	.navbar li {
		margin-bottom: 10px;
	}

	.hero h1 {
		font-size: 32px;
	}

	.hero p {
		font-size: 18px;
	}

	.gallery img {
		width: calc(50% - 10px);
		margin-right: 10px;
	}

	.services li {
		flex: 1 0 100%;
		margin-right: 0;
	}
}