*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
}


body{

}

/* Estilos básicos para o layout do formulário */
.estrutura_da_tela .inserir, .form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
    border-radius: 5px;
}
.titulo{
  padding-top: 15px;
    padding: 5px 20px;
  text-align: start;
border-left: 8px solid #3498db ;
  color: #15415f;
  font-size: 1.4rem;
  font-family: Montserrat;
  text-align: start;
}

.inputUser{
  border-radius: 5px;
}

.form-group {

  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputUser[type="text"],
.inputUser[type="file"] {
  display: block;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0066cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para o botão de envio de imagem */
.inputUser [type="file"] {
  position: relative;
  overflow: hidden;

}

.inputUser [type="file"]::-webkit-file-upload-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 120px;
  color: white;
  font-weight: 700;
  background-color: #1b84ec;
  height: 100%;
  font-size: 12px;
  cursor: pointer;
}

.inputUser{
  padding: 5px;
  width: 500px;
  max-width: 100%;
}

.inputUser [type="file"]::-webkit-file-upload-button:hover {
  background-color: #0066cc;
  color: #fff;
}

.campotexto .descricao{
  padding-bottom: 180px;
  width: 31.1rem;
  height: 12.5rem;
  max-width: 100%;
  border-radius: 0px;
}

.campotexto-title{
  margin-bottom: 55px;
}



.anunciar{
  width: 31.1rem;
  height: 2.5rem;
  max-width: 100%;
}

.inserir-imagem ,.inputUserArquivos input{
width: 27.5rem;
max-width: 100%;
}

.inserir-imagem label{
  text-align: center;
}

#preview{
  margin: 4px;
  overflow-x: scroll;
  height: 200px;
    border: 1px solid black ;
   width: 27.2rem;
  height: 15rem;
  max-width: 100%;
  background-color:rgb(255, 255, 255);	
  display: flex;
  z-index: 6;
}

.inputUserArquivos {
  border: none;
}

.gallery {
  display: flex;
}

.main-photo-container {
  flex-grow: 1;
  position: relative;
}

.main-photo {
  border-radius: 10px;
  width:435px;
  max-width: 100%;
  height: auto;
}

.thumbnails {

  display: inline-flex;
  flex-direction: column;
}

.thumbnail {
  border-radius: 10px;
  width: 100px;
  height: 60px;
  margin-bottom: 10px;
}


.botao-anuncio {
display: flex;
}



.botao-anuncio button{
  gap: 15px;
  background-color: white;
  border: 1px solid #1a8596;
  color: #1a8596;
text-align: center;
align-items: center;
  border-radius: 30px;
  
}

.botao-anuncio button:hover{
  align-items: center;
  color: white;
  text-align: start;
  background-color: #1a8596;

}


.botao-anuncio img{
  object-fit: cover;
  width: 25px;
}

.botao-seguro button{
  font-size: 10px;
  white-space: nowrap;
  width: 100px;
  height: 20px;
  background-color: #1a8596;
    border: 1px solid #1a8596;
  color: #ffffff;
text-align: center;
align-items: center;
  border-radius: 30px;
}

.botao-seguro button:hover{
  color: #1a8596;
  background-color: #ffffff;
}


.campotexto-detalhes, 
.campotexto-localizacao, p{
  font-size: 1.1rem;
}

.campotexto-detalhes, 
.campotexto-localizacao, h2{
  font-size: 1.6rem;
}


hr{
  width: 120px;
  border: 1px solid rgb(221, 221, 221);
}



/* Estilos para o layout responsivo */
@media screen and (max-width: 500px) {
  form {
    max-width: 100%;
    padding: 10px;
  }
}
