/* Estilos básicos para o layout do formulário */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
<<<<<<< HEAD

.estrutura_da_tela .inserir{
  font-size: 30px;
  text-align: center; 
  font-family: Montserrat;
  margin-top: 15px;
}

.form-group {

  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0066cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para o botão de envio de imagem */
input[type="file"] {
  position: relative;
  overflow: hidden;
}

input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 1px;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Estilos para o layout responsivo */
@media screen and (max-width: 500px) {
  form {
    max-width: 100%;
    padding: 10px;
  }
}
=======
#teladeperfil{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 55%;
    left: 50%;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
  #perfil {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #000000,#5623A9);
  }
#email{
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100%;
    align-items: center;
    }
    #senha{
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100%;
    align-items: center;
    }
    #submit{
    background-color: rgb(39, 126, 240);
    border: none;
    height: 25px;
    text-align: center;
    font-weight: 800;
    color: white;
    max-width: 100%;
    width: 180px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    }
    #nome {
        margin-top: 15px;
        border-radius: 10px;
        border: none;
        padding: 5px;
        width: 100%;
        align-items: center;
      }
      #telefone{
        border-radius: 10px;
        border: none;
        padding: 5px;
        width: 100%;
        align-items: center;
        }
>>>>>>> dd2503225440b53378aa2f0f916dd4889e925306
