@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
text-decoration: none;
  font-family: Montserrat;

}

.titulo{
  padding-top: 15px;
    padding: 5px 20px;
  text-align: start;
border-left: 8px solid #3498db ;
  color: #15415f;
  font-size: 1.4rem;
font-weight: 500px;
  text-align: start;
}

.formulario-de-dados{
  align-self: center;
display: block;
font-family: Montserrat;

  color: rgb(32, 32, 32);
  border-radius: 15px;
}

 .tela-perfil{
  align-items: center;
  text-align: center;
  padding: 15px;
  justify-content: center;
}

.tela-perfil ,label{
  text-align: left;
}

.tela-perfil .dados{

  width: 100%;

  padding: 0.5rem;
  align-items: center;
  color: black;
}

.editar-foto{
  align-items: start;
  text-align: start;
  padding: 15px;
  justify-content: center;
}

.editar-foto ,input{

  width: 100%;
  font-size: 1.0rem;
  align-items: center;
  color: black;
}



.file>input{
  border:none;
}

.file>.salvar{
  max-width: 140px;
  border:none;
background: #15415f;
color: rgb(247, 247, 247);
  cursor: pointer;
}


.editar-dados{
  
  text-align: left;
}

.salvar-dados>.salvar{
  background: #15415f;
  max-width: 100px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}



.sair-tela>input{
  max-width: 100px;
  color: rgb(247, 247, 247);
  cursor: pointer;
  background: #15415f;
}

.dados>input{
  border: none;
  max-width: 300px;
}



hr{
  width: 120px;  
  border: 1px solid rgb(221, 221, 221);
}


@media only screen and (max-width: 768px) {
  .formulario-de-dados{
    display: flex;
  }

}



