*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.estrutura_da_tela{
  padding-top: 6rem;
}

/* Estilos básicos para o layout do formulário */
.estrutura_da_tela .inserir, .form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.titulo{
  border-radius: 5px;
  padding-top: 15px;
    padding: 5px 20px;
  text-align: start;
  background: rgb(129,240,212);
  background: linear-gradient(100deg, rgba(129,240,212,1) 0%, rgba(129,216,226,1) 100%);
  color: #15415f;
  font-size: 1.4rem;
  font-family: Montserrat;
  text-align: start;
}

.inputUser{
  border-radius: 5px;
}

.form-group {

  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputUser[type="text"],
.inputUser[type="file"] {
  display: block;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

[type="submit"] {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center;
  background-color: #0066cc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para o botão de envio de imagem */
.inputUser [type="file"] {
  position: relative;
  overflow: hidden;

}

.inputUser [type="file"]::-webkit-file-upload-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 120px;
  color: white;
  font-weight: 700;
  background-color: #1b84ec;
  height: 100%;
  font-size: 12px;
  cursor: pointer;
}

.inputUser{
  padding: 1px;
  width: 500px;
  max-width: 100%;
}

.inputUser [type="file"]::-webkit-file-upload-button:hover {
  background-color: #0066cc;
  color: #fff;
}

.campotexto .descricao{
  padding-bottom: 180px;
  width: 31.1rem;
  height: 12.5rem;
  max-width: 100%;
  border-radius: 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

.campotexto>input{
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: none;
}



.anunciar{
  width: 31.1rem;
  height: 2.5rem;
  max-width: 100%;
}

.inserir-imagem ,.inputUserArquivos input{
  
float: right;
width: 27.5rem;
max-width: 100%;
}

.inserir-imagem label{
  text-align: center;
}

#preview{
  margin: 4px;
  overflow-x: scroll;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border: none;
  height: 15rem;
  max-width: 100%;
  background-color:rgb(255, 255, 255);	
  display: flex;
  z-index: 6;
}

.inputUserArquivos {
  border: none;
}


/* Estilos para o layout responsivo */
@media screen and (max-width: 500px) {
  
  form {
    max-width: 100%;
    padding: 10px;
  }
}


@media screen and (max-width: 768px) {
  

  .anunciar{
    width: 100%;
    height: 2.5rem;
    max-width: 100%;
  }

  .campotexto .descricao{
    padding-bottom: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-width: 800px;
    border-radius: 0px;
  }
  .inputUser{
    padding: 5px;
    width:100%;
    max-width: 800px;
  }
  
  form {
    max-width: 100%;
    padding: 10px;
  }

  .inserir-imagem ,.inputUserArquivos input{
    float: inline-start;
    width: 100%;
    max-width: 800px;
    }

    .inserir-imagem>.title{
      text-align: start;
    }
}


 /* FOOTER */


/* FOOTER  */
