@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
text-decoration: none;
  font-family: Montserrat;

}

.titulo{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgb(129,240,212);
  background: linear-gradient(100deg, rgba(129,240,212,1) 0%, rgba(129,216,226,1) 100%);
  padding-top: 15px;
    padding: 10px 20px;
  text-align: start;
  color: #5e5e5e;
  margin-top: 15px;
  font-size: 1.4rem;
font-weight: 500px;
}





.dados-user>button{
  border: none;
  margin: 5px;
  text-decoration: none;
  padding-top: 55px;
  border-radius: 0px 0px 6px 6px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 10px 5px;
  animation: both;
  transform-style: flat;
  transition-duration: 550ms;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-style: none;
}


.dados-user>button>a{

  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 15px;  
}


.dados-user>button>a:hover{
  color: rgb(255, 255, 255);
}


.dados-user>button:hover{
    color: rgb(114, 114, 114);
      animation: both;
    transform-style: flat;
    transition-duration: 550ms;
    background-color: #1a8596;
}

.formulario-de-dados{
  margin-top: 6rem !important;
  align-self: center;
display: block;
background-image: url("");
background-position: center right;
background-repeat: no-repeat;
background-size: 450px;
font-family: Montserrat;
box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: rgb(32, 32, 32);
  border-radius: 15px;
}

.dados-user,.titulo-dados{
  display: flex;
 gap: 15px;
}

 .tela-perfil{
  color: #5e5e5e;
  align-items: center;
  text-align: center;
  padding: 15px;
  justify-content: center;
}

.tela-perfil ,label{
  text-align: left;
}

.tela-perfil .dados{

  width: 100%;

  padding: 0.5rem;
  align-items: center;
  color: rgb(104, 104, 104)
}

.editar-foto{
  align-items: start;
  text-align: start;
  padding: 15px;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.editar-foto,input{

  width: 100%;
  font-size: 1.0rem;
  align-items: center;
  color: rgb(71, 71, 71);
}

.editar-foto,.file>input{
  font-weight: 450;
  max-width: 450px;
  color: #5e5e5e;
}

.inputUserArquivos{
  display: none;
}

.img-inserir{
  align-items: center;
  width: 50px;
}


.file>input{
  border:none;
}

.file>.salvar{
  max-width: 140px;
  border:none;
  padding: 0;
  background: rgb(129,240,212);
  background: linear-gradient(100deg, rgba(129,240,212,1) 0%, rgba(129,216,226,1) 100%);
  cursor: pointer;
}


.editar-dados{
  
  text-align: left;
}

.salvar-dados>.salvar{
  padding: 0;
  font-weight: 450;
  background: rgb(129,240,212);
  background: linear-gradient(100deg, rgba(129,240,212,1) 0%, rgba(129,216,226,1) 100%);
  max-width: 100px;
  cursor: pointer;
  border: none;
}



.sair-tela>input{
  padding: 0;
  font-weight: 450;
  max-width: 100px;
  cursor: pointer;
  border: none;
  background: rgb(129,240,212);
  background: linear-gradient(100deg, rgba(129,240,212,1) 0%, rgba(129,216,226,1) 100%);
}

.dados>input{
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border: none;
  max-width: 300px;
}

.formulario-de-dados .foto-perfil{
  padding: 15px;
}

.foto-perfil {
  padding: 15px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.foto-perfil:hover {
  transform: scale(1.1);
}



.e-space-user{
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

.dados-user .config{
  object-fit: cover;
  width: 40px;
  height: 40px;
  align-items: start;
  display: flex;
  justify-content:start;
}

hr{
  width: 120px;  
  border: 1px solid rgb(221, 221, 221);
}


@media only screen and (max-width: 768px) {
  .formulario-de-dados{
    display: block;
  }

  .formulario-de-dados{
    background-image: none;
  }

}


@media only screen and (max-width: 320px) {
  .titulo{
    font-size: 11px;
  }

  .dados-user>button>a{
    font-size: 11px;
  }

  .tela-perfil h3{
    font-size: 15px;
  }

  
  .tela-perfil p{
    font-size: 12px;
  }

  .tela-perfil label{
    font-size: 12px;
  }
  .e-space-user .foto-perfil{
    width: 85px;
    height: 85px;
  }

  .e-space-user .user-space{
    width: 170px;
    height: 45px;
  }
  
  .sair-tela{
    font-size: 12px;
  }



.footer{
  width: 50px;
}
}


