*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}


body {
  font-family: Arial, sans-serif;
}

header {
  color: #fff;
}

section.anuncios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.anuncio {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.anuncio img {
  border-radius: 4px;
  display: block;
  height: 200px;
  margin-bottom: 10px;
  width: 100%;
}

.anuncio h2 {
  font-size: 20px;
  margin: 0 0 10px;
}

.anuncio p {
  margin: 0;
}

.limite-chars-descricao{
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.limite-chars{
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}

.limite-chars-titulo{
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}

.anuncio a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 3px;
  margin-bottom: 15px;
  font-weight: 700;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
}

.anuncio a:hover {
  background-color: #666;
}


.anuncios{
  color: rgb(10, 10, 10);
  font-family: Montserrat ;
  padding: 0.5rem;
  background-color: #ffffff;
}

.anuncios h1{
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.galeria>button{
  background-color: dodgerblue;
  margin-top: 10px;
  width: 100px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin: 15px;
}

.galeria>button:hover{
  background-color: rgb(6, 111, 216);
}

.galeria h4{
  margin: 15px;
  margin-top: 15px;
}

  /* GALERIA  */


  .postado{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 2px;
    background-color:dodgerblue;
    font-size: 1rem;
    text-align: left;
    color: white;
    
  }
  
  .aguardar{
    background-color:rgb(47, 160, 107);
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 2px;
    font-size: 1rem;
    text-align: left;
  }
  /* TELA ANUNCIOS  */

  .rental-section {
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    padding: 40px 20px;

  }
  
  .rental-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
  }

  .rental-container:hover{
    border-radius: 0px;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.3);
  }
  
  .rental-ad {
    flex: 1 1 300px;
    margin-right: 20px;
  }
  
  .rental-ad img {
    width: 100%;
    height: auto;
    width: 350px; /* Largura fixa */
    height: 235px; /* Altura fixa */
    object-fit: cover;
  }
  
  .rental-details {
    flex: 1 1 300px;
    text-align: center;
  }
  
  .rental-details h2 {
    text-align: start;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rental-details p {
    text-align: start;
    font-size: 16px;
    margin-bottom: 20px;
  }


  .limite-chars-descricao{
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  
  .rental-price {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .rental-price p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .rental-price img{
    margin: 2px;
    width: 2rem;
  }




  .rental-price ,.localizacao ,.dinheiro{
  flex: 1;
  text-align: center;
white-space: nowrap;


}



  .localizacao img, p{
    object-fit: contain;
  }
  .dinheiro img, p{
    justify-content: center;
    align-items: center;
text-align: center;
    object-fit: contain;
    font-size: 10px;
  }







  .rental-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
margin: 0.2rem;
margin-right: 2rem;
  }
  
  .rental-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 2px;
  }

  .titulo{
  padding-top: 15px;
    padding: 5px 20px;
  text-align: start;
border-left: 8px solid #3498db ;
  color: #15415f;
  font-size: 1.4rem;

  font-family: Montserrat;
  text-align: start;
}

   
  @media (max-width: 600px) {
    
   
    .rental-container {
      float: left;
      flex-wrap: wrap;
      flex-direction: row;
    }
  
    .rental-ad {
      top: 0;
      left: 0;
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .rental-details {
      margin-bottom: 20px;
    }

    .rental-details>p{
      display: none;
    }

    .rental-buttons{
      float: left;
    }

    .aguardar{
    width: 50vh;
    }
  }
  

  
/*  TELA ANUNCIOS  */

  

  .body-modal, .footer-modal{
    margin: 5px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .body-modal, h4>strong{
    font-size: 21px;
    font-weight: 700;
  }

  .anuncio-modal{
    background: #0000009f;
  }

  .footer-modal>button{
    color: black;
    font-weight: 700;
    border: 1px solid dodgerblue;
    background: none;
    border-radius: 0px;
  }

/* SLIDE MODAL  */

.slide-modal{
  margin: 0.5rem;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
}

  /* ANUNCIOS  */
/* Responsividade */

@media screen and (max-width: 768px) {

  .rental-price{
    margin-top: -25px;
  }


  .rental-section{

    width: 100%;
   display: flex;   
  }

  .postado{
    white-space: wrap;
    max-width: 350px;
    }

  .aguardar{
    white-space: wrap;
    max-width: 350px;
    width: 100%;
    }
  .menu-icon {
    display: block;

  }

  .rental-details{
width: 0px;

  }

  .searchbarmobile{
    display: block;
  }

  .searchbar{
    display: none;
  }

  .navbarheader{
    height: auto;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
  
  .menu li {
    display: block;
    margin: 10px 0;
  }
  
  .menu li:last-child {
    margin-bottom: 0;
  }
  
  #menu-toggle:checked + .menu {
    display: block;
  }
  .rental-price ,.localizacao ,.dinheiro{
    text-align: center;
    display: block
  
  }

  .rental-details>p{
    display: none;
  }

  .rental-price{
    flex-wrap: nowrap;
  }

}

.modal-content>.modal-body{

  justify-content: start;
  align-items: start;
}

.modal-body>input{
  padding-right: 150px;
  border-color: black;
  border-radius: 0px;
}



.modal-body>p{
  font-family: Poppins;
  font-size: 20px;
  align-items: start;
  text-align: start;
}



textarea{
  width: 100%;
  height: 250px;
}

  /* FOOTER */

  footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .main-footer   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
        background-color: #333;
        
  }
  
  .footer-logo img {
    max-width: 100%;
    height: auto;
    width: 150px;
  }
  
  .footer-links h3,
  .footer-social h3 {
    margin-bottom: 10px;
  }
  
  .footer-links ul,
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li,
  .footer-social li {
    margin-bottom: 5px;
  }
  
  .footer-links a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-social i {
    font-size: 24px;
    margin-right: 10px;
  }
  
/* FOOTER  */


