@font-face {
  font-family:Deli;
  src: url(../fonts/Deli.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  font-family: Montserrat;
}

html{

}

/* CONTEUDO */

.conteudo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagem {
  align-items: center;
  flex: 2;

}

.imagem img {
  width: 100%;
  align-items: center;
  height: auto;
}


.texto {
  font-family:Deli ;
  flex: 2;
  margin: 1rem;
}

.texto h2{
  font-size: 2.5em;
  color: rgb(39, 4, 85);
}

@media only screen and (max-width: 768px) {
  .conteudo {
    flex-direction: column;
  }

  .imagem {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/* CONTEUDO */


/* CARROSEL */
header {
	background-color: #ffffff;
	color: white;
	padding: 1px;
	text-align: start;
}

h1 {
	font-size: 36px;

}

p {
	font-size: 18px;
	margin: 0;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
  flex-wrap: wrap;
  flex: auto;

}

.carousel-item img{
  margin-top: 5px;
  width: 300px;
  max-width: 100%;
  cursor: pointer;
  transition: 500ms;

}

.carousel-item img:hover{
  width: 320px;
}
/* CARROSEL */


/* PERFIL */
.profile-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;

}

#profile-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 210px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1;
  display: none;
}

#profile-options.show {
  display: block;
}


/* PERFIL */


/* NAVBAR */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:1px;
  background-color: #ffffff;
  padding: 0 10px;
}

.logo img {
  height: 30px;
  width: auto;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-top: -50px;

}

.menu li {
  margin: 0 10px;
  margin-top: 18px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  width: 150px;
}

.menu a:hover{
box-shadow: #4CAF50;
  transition-duration: 800ms;
  border-radius: 500px;
  margin: 10px;
  width: 200px;
}

.login a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.pesquisar{
  cursor: pointer;
}

.pesquisar, input, button{
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
  min-width: 5px;
  margin-bottom: -55px;

  
}

button{
  width: 5rem;
  border-radius: 5px;
}

input{
  border-style: double;
  border-radius: 5px;
}



/* SELEÇÃO */

.form{
  margin: 10px;
  display: flex;
  color: black;
} 


/* GALERIA  */
div.galeria {
border: 1px solid black;
background-color: #ffffff;
border-radius: 10px;
padding: 15px;
align-content: center;
justify-content: center;
color: white;
flex-wrap: wrap;
flex-direction: row;
}

div.galeria>h4{
  background-color: #256927;
  border-radius: 5px;
margin: 5px;
padding: 2px;
font-size: 18px;
text-align: start;
align-items: center;
justify-content: center;
}

.galeria .btn{
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 5px;
}

div.galeria>h4:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
}

div.galeria:hover {

}

div.galeria img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}



 .responsive {
  padding: 0 6px;
float:left;
  width: 24.99999%;

} 

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.galeria>button{
  background-color: dodgerblue;
  margin-top: 10px;
  width: 100px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin: 15px;
}

.galeria>button:hover{
  background-color: rgb(6, 111, 216);
}

.galeria h4{
  margin: 15px;
  margin-top: 15px;
}

  /* GALERIA  */

/* Responsividade */

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
  
  .menu li {
    display: block;
    margin: 10px 0;
  }
  
  .menu li:last-child {
    margin-bottom: 0;
  }
  
  #menu-toggle:checked + .menu {
    display: block;
  }
}
