/* @font-face {
  font-family:Deli;
  src: url(../fonts/Deli.ttf);
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  font-family: Montserrat;
}

html{

}


/* CARROSEL */
header {
  
	background-color: #ffffff;
	color: white;
	padding: 1px;
	text-align: start;
}

h1 {
	font-size: 36px;

}

p {
	font-size: 18px;
	margin: 0;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
  flex-wrap: wrap;
  flex: auto;

}

.carousel-item img{
  margin-top: 5px;
  width: 300px;
  max-width: 100%;
  cursor: pointer;
  transition: 500ms;

}

.carousel-item img:hover{
  width: 320px;
}
/* CARROSEL */


/* PERFIL */
.profile-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;

}

#profile-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 210px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1;
  display: none;
}

#profile-options.show {
  display: block;
}


/* PERFIL */


/* .navbarheaderBAR */
.popup {  
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* NAVBAR */

.navbarheader {
  height: 120px;
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
  padding: 0 10px;
}

.searchbarmobile{
  display: none;
}

.logo img {
    height: 70px;
    display: flex;
    width: 150px;
    object-fit: cover;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
height: 100%;

}

.menu li {
  margin: 0 10px;
  margin-top: -55px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fafafa;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  width: 150px;
}

.menu a:hover{
  
  text-decoration: none;
box-shadow: #4CAF50;
  transition-duration: 800ms;
  border-radius: 500px;
  /* margin: 10px;
  width: 200px; */
}


.cadastro{
  border: 1px solid #007bff;
  padding: 5px;
  border-radius: 15px;
  color: #007bff;
transition: 800ms;
}

.cadastro:hover{
  border: 1px solid white;
  color: white;
  background: #0d498a;
}

.cadastro a{
  list-style-type: none;
  color: #007bff;
}

.cadastro a:hover{
  color: white;
}

.login a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.pesquisar{
  cursor: pointer;
}

.pesquisar, input, button{

  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
  min-width: 5px; 
}

.botaopequisar{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  background-color:white;
  border-radius: 2rem;
  border: 1px solid rgb(1, 90, 206);
}

.lupa{
  width:1.5rem;
  height: 1.5rem;
}

button{
  border: 1px solid;
  cursor: pointer;

}

input{
  border: 0.1rem solid rgb(1, 90, 206);
  border-radius: 2rem;
  border-style: inset;
}

/* NAVBAR */


/* CONTEUDO */

.main-home{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,250,255,1) 100%);
}


.conteudo {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.imagem {
  align-items: center;
  flex: 2;

}

.imagem img {
  width: 100%;
  align-items: center;
  height: auto;
}


.texto {
  font-family:Deli ;
  flex: 2;
  margin: 1rem;
}

.texto h2{    
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  color: rgb(59, 59, 59);
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: initial;
}

.texto  p{  
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: rgb(105, 105, 105);
  animation-duration: 2.5s;
  animation-name: slidein;
  animation-iteration-count: initial;
}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .conteudo {
    flex-direction: column;
  }

  .imagem {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


/* CONTEUDO */

.anuncios-recentes{
margin-top: 2.4rem;
border: none;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,250,255,1) 100%);
box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.anuncios{
  color: rgb(10, 10, 10);
  font-family: Montserrat;
  background-color: #ffffff;
  
}

.anuncios h1{
  font-size: 1.5rem;
}
/* 
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.galeria>button{
  background-color: dodgerblue;
  margin-top: 10px;
  width: 100px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin: 15px;
}

.galeria>button:hover{
  background-color: rgb(6, 111, 216);
}

.galeria h4{
  margin: 15px;
  margin-top: 15px;
} */

  /* TELA ANUNCIOS  */

  .rental-section {
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    padding: 40px 20px;
  }
  
  .rental-container {
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
  }
  
  .rental-ad {
    flex: 1 1 300px;
    margin-right: 20px;
  }
  
  .rental-ad img {
    width: 100%;
    height: auto;
  }
  
  .rental-details {
    flex: 1 1 300px;
    text-align: center;
  }
  
  .rental-details h2 {
    text-align: start;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rental-details p {
    text-align: start;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .rental-price {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .rental-price p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .rental-price img{
    margin: 2px;
    width: 2rem;
  }




  .rental-price ,.localizacao ,.dinheiro{
  flex: 1;
  text-align: center;
white-space: nowrap;


}



  .localizacao img, p{
    object-fit: contain;
  }
  .dinheiro img, p{
    justify-content: center;
    align-items: center;
text-align: center;
    object-fit: contain;
    font-size: 10px;
  }







  .rental-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
margin: 0.2rem;
margin-right: 2rem;
  }
  
  .rental-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 0 2px;
  }

   
  @media (max-width: 600px) {
    .rental-container {
      flex-direction: column;
    }
  
    .rental-ad {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .rental-details {
      margin-bottom: 20px;
    }
  }
  

  
/*  TELA ANUNCIOS  */

/* TELA RECENTES  */
/* Configurações da div principal */

.botoes-anuncios>button{
  align-items: center;
  justify-content: center;
  background-color: #02f0a9;
  color: #000000;
  border-radius: 5px;
  border: 1px;
  font-weight: 700;
  width: 180px;
  max-width: 100%;
}

button {
  display: block;
  margin-bottom: 10px;
  background-color: #4CAF50;
  border: none;
  margin: 50px;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.anuncios-destaque-mobile{
  display: none;
}

.anuncios-destaque{
  flex-wrap: nowrap;
 display: flex;
  background-color: #1a8596;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.anuncios-destaque, .titulo{
  font-size: 15px;
  padding-right: 1.2rem;
  color: white;
  display: flex;

}

.anuncios-destaque>h2{
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 25px;
  white-space: nowrap;
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px;
  background-color: #f2f2f2;
}

/* Configurações das divs dos anúncios */
.box {
  position: relative;
  width: 300px;
  height: 240px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
}

/* Configurações das imagens dos anúncios */
.box img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

/* Configurações dos títulos dos anúncios */
.box h2 {
  margin: 20px;
  font-size: 24px;
  color: #333;
}

/* Configurações dos preços dos anúncios */
.box p {
  margin: 20px;
  font-size: 15px;
  color: #333;
}

/* Configurações da animação de carregamento infinito */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

/* TELA RECENTES */
 


  

  .body-modal, .footer-modal{
    margin: 5px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .body-modal, h4>strong{
    font-size: 21px;
    font-weight: 700;
  }

  .anuncio-modal{
    background: #0000009f;
  }

  .footer-modal>button{
    color: black;
    font-weight: 700;
    border: 1px solid dodgerblue;
    background: none;
    border-radius: 25px;
  }

/* SLIDE MODAL  */

.slide-modal{
  margin: 0.5rem;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
}

  /* ANUNCIOS  */
/* Responsividade */

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;

  }

  .searchbarmobile{
    display: block;
  }

  .searchbar{
    display: none;
  }

  .navbarheader{
    height: auto;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
  
  .menu li {
    display: block;
    margin: 10px 0;
  }
  
  .menu li:last-child {
    margin-bottom: 0;
  }
  
  #menu-toggle:checked + .menu {
    display: block;
  }
  .rental-price ,.localizacao ,.dinheiro{
    text-align: center;
    display: block
  
  }

  .anuncios-destaque-mobile{
    display: block;
  }

  .anuncios-destaque{
    display: none;
  }

}
  