.chat-container {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
width: 100%;
max-width: 1140px;
margin: 0 auto;
}   


.conversation-window {
  flex: 2;
  border: 1px solid #ccc;
  padding: 10px;
}

.conversation-window .message {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.conversation-window .message.sender {
  background-color: #d4eaf7;
}

.profile-window {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile hr {
  margin: 10px 0;
}

.profile .name {
  font-weight: bold;
}

.profile .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }

  .profile-window {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
  }

  .conversation-window {
    padding: 10px;
    background-color: #f5f5f5;
    max-height: 200px;
    overflow-y: auto;
  }
}


/* Estilos para o campo de texto */
  .input-container {
    display: flex;
    margin-top: 10px;
  }

  .input-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .input-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }

  /* Estilos para as mensagens */
  .message {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .sender {
    background-color: #f1f0f0;
    text-align: right;
  }